<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings>
    <add key="LogLocation" value="Log\ModelLog.txt"/>
    <add key="DataLocation" value="\ModelData"/>
    <!--Time to wait in milliseconds before assuming a model process has hanged and should be killed-->
    <add key="ProccessTimeout" value="20000"/>
    <!--Aggregator Key-->
    <add key="WindDataLocation" value="ModelData\Winds"/>
    <add key="CurrentDataLocation" value="ModelData\Currents"/>
    <add key="RiverCurrentLocation" value="ModelData\RiverCurrents"/>
    <add key="BathyDataLocation" value="ModelData\Bathy"/>
    <!--<add key="CurrentFilePrefix" value="ECOM_DONGHU"/>
    <add key="WindFilePrefix" value="WIND_DONGHU_DUMMY"/>
    <add key="RiverCurrentFilePrefix" value="ECOM_DONGHU"/>-->
    <!--OilModel Keys-->
    <add key="OilExeLocation" value="\OilModel"/>
    <add key="OilRunLocation" value="\RUNDATA"/>
    <add key="OilOutputLocation" value="\OUTDATA"/>
    <add key="OilWindsLocation" value="\WINDS"/>
    <add key="OilCurrentsLocation" value="\CURRENTS"/>
    <add key="OilInfoLocation" value="\Oil"/>
    <add key="OilIniLocation" value="\OilModel"/>
    <add key="OilIniFile" value="OILMAPW.ini"/>
    <add key="OilInpFile" value="DEFAULT.inp"/>
    <add key="OilCoastlineFile" value="\Coast\oilmap_basemap.shp"/>
    <!--ChemModel Keys-->
    <add key="ChemExeLocation" value="\ChemModel"/>
    <add key="ChemIniLocation" value="\ChemModel"/>
    <add key="ChemRunLocation" value="\RUNDATA"/>
    <add key="ChemOutputLocation" value="\Modelout"/>
    <add key="ChemWindsLocation" value="\WINDS"/>
    <add key="ChemCurrentsLocation" value="\CURRENTS"/>
    <add key="ChemIniFile" value="CHEMMAP.INI"/>
    <add key="ChemCnpFile" value="Default.CNP"/>
    <add key="ChemCoastlineFile" value="\Coast\oilmap_basemap.shp"/>
    <add key="EDSService.eds" value="http://www.coastmap.com/eds20/eds.asmx"/>
    <add key="EDSOutput" value="http://www.coastmap.com/edsoutput"/>
    <add key="AGOLProxyInsert" value="https://energyportal.esri.com/asaproxy2/agsproxy.ashx?operation=InsertFeatures"/>
    <add key="dsOilmap.ds" value="http://services.asascience.com/Services/dsOilmap/ds.asmx"/>
    <add key="urlOilMapFeatureService" value="http://services.arcgis.com/f6rONWRAyLGC1UKY/ArcGIS/rest/services/Southern_California_Trajectories/FeatureServer"/>
    <add key="urlSampleWebMapJSON" value="http://www.arcgis.com/sharing/rest/content/items/941b8a3134dc43b6b80f535d03f2f725/data?f=json"/>
    <add key="imgWebMapThumbnail" value="http://www.arcgis.com/sharing/rest/content/items/969e2350707849fa9d25adf7f313269a/info/thumbnail/oilmap.png"/>
    <add key="scenarioIDExpression" value="scenario = 'SAMPLE_TEST_904_14841'"/>
    <add key="addItemUrl" value=""/>
    <add key="urlPortalRoot" value="https://www.arcgis.com/sharing"/>
    <add key="urlSampleMapService" value="https://energyportal.esri.com/arcgis/rest/services/ASA_Sample/MapServer"/>
    <add key="urlAGOProxyMapService" value="https://utility.arcgis.com/usrsvcs/rest/services/76300a2a704f4bb9b965ff7a660824a9/MapServer"/>
    <add key="urlAGOAddItem" value="/rest/content/users/{0}/addItem"/>
    <add key="urlAGOShareItem" value="/rest/content/users/{0}/items/{1}/share"/>
    <add key="urlAGOItemData" value="/rest/content/items/{0}/data"/>
    <add key="agsTokenService" value="https://www.arcgis.com/sharing/rest/oauth2/token/"/>
    <add key="agsUser" value="ASA"/>
    <add key="publishMode" value="ago"/>
    <add key="agsPassword" value="Esri4ASA"/>
    <add key="agoTokenService" value="/rest/generateToken?f=json"/>
    <add key="agoUser" value="stephen_asa"/>
    <add key="agoPassword" value="Imfromnh66"/>
  </appSettings>
  <!--<connectionStrings>-->
  <!--TODO: Add Connection String for Oil-->
  <!--TODO: Add Connection String for Chemicals-->
  <!--</connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="GeoAPI" Version="1.1.0.0" publicKeyToken="a1a0da7def465678" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.1.0" newVersion="1.7.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>-->
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.6"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="None"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
-->
    <customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="NoAccess.htm"/>
      <error statusCode="404" redirect="FileNotFound.htm"/>
    </customErrors>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!--<system.net>
    <defaultProxy>
      <proxy autoDetect="true" />
    </defaultProxy>
  </system.net>
  this is for the GeoJSON Libs
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>-->
</configuration>